<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943223771904-i6a44a8l5r3gturl55vu3ovtvb98ojqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943223771904-i6a44a8l5r3gturl55vu3ovtvb98ojqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943223771904-i2me223tjrsgo6jl47rm53eqfvrogtps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDg1MYnsjAhNbOKIfG9WJ_cJbMxp4GI76Q</string>
	<key>GCM_SENDER_ID</key>
	<string>943223771904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vigilantis.bairroforte</string>
	<key>PROJECT_ID</key>
	<string>bairro-forte</string>
	<key>STORAGE_BUCKET</key>
	<string>bairro-forte.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943223771904:ios:e7bd2bcb3f5d86d703d9e5</string>
	<key>DATABASE_URL</key>
	<string>https://bairro-forte-default-rtdb.firebaseio.com</string>
</dict>
</plist>